In [41]:
import nltk
import pandas as pd
import numpy as np
import re
from sklearn.naive_bayes import MultinomialNB 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem  import WordNetLemmatizer

In [34]:
df =pd.read_csv('IMDB Dataset.csv', encoding="ISO-8859-1")
df['label']=[1 if i=='positive' else 0 for i in df['sentiment']]

df=df.drop_duplicates()
df.reset_index(inplace=True)
df.drop(['index'],inplace=True,axis=1)
df.iloc[0,0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [35]:
df['review']=df['review'].str.lower()

REPLACE_NO_SPACE = re.compile("[.;:!\'?,\"()\[\]]")
REPLACE_WITH_SPACE = re.compile("(<br\s*/><br\s*/>)|(\-)|(\/)")

df['review']=df['review'].apply(lambda x : re.sub(REPLACE_NO_SPACE,'', str(x)))
df['review']=df['review'].apply(lambda x : re.sub(REPLACE_WITH_SPACE,'', str(x)))
df

                                                  review sentiment  label
0      one of the other reviewers has mentioned that ...  positive      1
1      a wonderful little production the filming tech...  positive      1
2      i thought this was a wonderful way to spend ti...  positive      1
3      basically theres a family where a little boy j...  negative      0
4      petter matteis love in the time of money is a ...  positive      1
...                                                  ...       ...    ...
49995  i thought this movie did a down right good job...  positive      1
49996  bad plot bad dialogue bad acting idiotic direc...  negative      0
49997  i am a catholic taught in parochial elementary...  negative      0
49998  im going to have to disagree with the previous...  negative      0
49999  no one expects the star trek movies to be high...  negative      0

[49582 rows x 3 columns]

In [36]:
df['review']=df['review'].apply(lambda x : nltk.word_tokenize(x))
lt=WordNetLemmatizer()
df['review']=df['review'].apply(lambda x : ' '.join ([lt.lemmatize(y) for y in x] ))
df

                                                  review sentiment  label
0      one of the other reviewer ha mentioned that af...  positive      1
1      a wonderful little production the filming tech...  positive      1
2      i thought this wa a wonderful way to spend tim...  positive      1
3      basically there a family where a little boy ja...  negative      0
4      petter matteis love in the time of money is a ...  positive      1
...                                                  ...       ...    ...
49995  i thought this movie did a down right good job...  positive      1
49996  bad plot bad dialogue bad acting idiotic direc...  negative      0
49997  i am a catholic taught in parochial elementary...  negative      0
49998  im going to have to disagree with the previous...  negative      0
49999  no one expects the star trek movie to be high ...  negative      0

[49582 rows x 3 columns]

In [39]:

cv=CountVectorizer()
new_X_train=cv.fit_transform(X_train)
new_X_test=cv.transform(X_test)
X_train,X_test,y_train,y_test=train_test_split(df['review'],df['label'],random_state=0)
print('hi')

hi

In [48]:
mnb=MultinomialNB()
mnb.fit(new_X_train,y_train)
y_pred=mnb.predict(new_X_test)

In [52]:
from sklearn.metrics import accuracy_score,f1_score,precision_score
print(accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))

0.8422878347854147
0.8388691997032885
0.8641535065376125